@import "container/about.css";
@import url("container/ticket.css");
@import url("container/contact.css");
.container .contain {
   width: 800px;
   margin: 0px auto;
   padding: 64px 0;
}

.container .contain .contain-heading {
   margin: 10px 0;
}

/* Image */
.container .image {
   position: relative;
   padding-top: 50%;
   width: 100%;
   background: url(../img/map.jpg) top center / cover no-repeat;
   filter: grayscale(50%);
}
