.main-footer {
   margin-top: 16px;
   padding: 64px 16px;
   text-align: center;
   opacity: 0.6;
}

.main-footer p {
   margin: 15px 0;
}

.main-footer .footer-icon {
   font-size: 22px;
}

.main-footer .footer-icon:hover {
   opacity: 0.6;
}

.main-footer p a {
   color: #000;
}