header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
  background-color: #000;
}

header .search-button {
  padding: 0 21px;
}

header .search-button:hover {
  background-color: #f44336;
}

header .icon-search {
  font-size: 20px;
  line-height: 46px;
  color: #fff;
}

.nav-link {
  display: flex;
  justify-content: end;
  color: white;
}

.nav-link li {
  position: relative;
}

.nav-link > li > a {
  color: white;
}

.nav-link li a {
  padding: 0px 24px;
  line-height: 46px;
  text-decoration: none;
}

.nav-link > li:hover > a,
.sub-nav li:hover a {
  display: block;
  color: black;
  background-color: #ccc;
}

.nav-link .sub-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.3);
  background-color: #fff;
}
.nav-link .sub-nav a {
  color: #000;
  padding: 0px 16px;
  line-height: 38px;
  text-transform: capitalize;
}
.nav-link li:hover .sub-nav {
  display: block;
  min-width: calc(100% + 80px);
  background-color: #fff;
}
.nav-link .more-icon {
  font-size: 14px;
}
