.container .contain .contain-sub-heading,
.container .contain .text {
    margin: 15px 0;
    line-height: 1.5;
}

.container .contain .contain-sub-heading {
    font-style: italic;
    opacity: 0.6;
}

.container .contain .text {
    text-align: justify;
}

.container .contain .team.flex-column {
    padding: 32px 0;
}

.team .member p {
    margin: 15px 0;
}

.team .member img {
    width: 60%;
    border-radius: 4px;
}
