.contaier .contact {
   padding: 64px 16px;
}

.survey-infor,
.survey-comment {
   padding: 32px 0;
   width: 50%;
   text-align: left;
   line-height: 25px;
   font-size: 18px;
}

.survey-infor .survey-icon {
   padding-right: 12px;
}

.survey-form.flex-column {
   flex-wrap: wrap;
}

.survey-form .survey-input {
   margin-bottom: 8px;
   border: 1px solid #ccc;
   padding: 8px;
   flex: 1;
}

.survey-form .survey-email {
   margin-left: 8px;
}

.survey-form .survey-input::placeholder {
   font-family: Lato, sans-serif;
   font-size: 14px;
   line-height: 70px;
}

.survey-comment .survey-send {
   float: right;
   margin: 16px 0;
   text-transform: uppercase;
}
